<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2014 The Board of Trustees of The Leland Stanford Junior University.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
  <!-- Send INFO and below to stdout and WARN and above to stderr. This can cause
       the sequence of log messages to be slightly off, but allows IDEs to show
       messages as black or red depending on priority. -->
  <appender name="CONSOLE.OUT" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <param name="Threshold" value="ALL"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%t] %c %m%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
        <param name="LevelMin" value="TRACE"/>
        <param name="LevelMax" value="INFO"/>
        <param name="AcceptOnMatch" value="false"/>
    </filter>
  </appender>
  <appender name="CONSOLE.ERR" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.err"/>
    <param name="Threshold" value="WARN"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%t] %c %m%n"/>
    </layout>
  </appender>
  <category name="com.github.susom">
    <priority value="DEBUG"/>
  </category>
  <root>
    <appender-ref ref="CONSOLE.OUT"/>
    <appender-ref ref="CONSOLE.ERR"/>
  </root>
</log4j:configuration>
